%dl
  %dt What is RankNStein?
  %dd RankNStein is a simple tool that tells where your website (or any URL for that matter) shows up in Google based on a given search term(s).

  %dt Why is only Google searched?
  %dd RankNStein is opinionated software. It's RankNStein's opinion that Google is the only search engine that matters.

  %dt Why does RankNStein only look at the top 64 results?
  %dd 
    Due to a technical limitation of the Google search API, RankNStein can get no more than 64 results.
    To be honest, if your website does show up in the top 64 for a "good" search string, chances are 
    you need to work on your SEO.

  %dt Is there more detailed information that RankNStein can show me?
  %dd 
    While RankNStein does have additional data (e.g. the content matched on, who was #1, ...), 
    RankNStein's beauty lies in it's simplicity. At some point, RankNStein may provide this additional
    data in a manner that maintains its elegance.
  
