%p#heading Welcome to RankNStein!
%form#main{ :action => '/rank', :method => 'get' }
  %p
    %label
      When someone searches for ...
    %br
    %input#query{:type => 'text', :name => 'query', :size => 30}
  %p
    %label
      my page at ...
    %br
    %input#url{:type => 'text', :name => 'url', :size => 30}
  %p
    %input{:type => 'submit', :class=> 'submit', :value => 'Ranks ...'}
 