!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :content => "Where does my page rank on Google? Find out with RankNStein - an easy-to-use no-nonsense SERP tool.", :name => 'description'}
    %meta{ :content => "SEO, search engine optimization, SERP tool, page rank, keyword search", :name => 'keywords'}
    %title
      RankNStein
    %link{ :href => "/stylesheets/main.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
  %body#ranknstein
    = yield
    #footer
      %ul
        %li
          %a{:href => '/faq'}
            FAQ
        %li
          Copyright &copy;2009 
          %a{:href => 'http://jadecove.com', :target => :new}
            Jade Cove Solutions
        %li
          %a{:href => 'http://github.com/bsiggelkow/ranknstein/issues', :target => :new}
            Support