- if rank
  %p#heading
    Your page ranks number ...
  %p#rank
    = rank
  %p#result
    RankNStein searched on
    %span.query
      = query
    and found
    %a{:href => result[:url]}
      = result[:url]
- else
  %p#heading
    You're not ranked in the top 64 ... RankNStein ANGRY!
#try_again
  %a{ :href => '/'}
    Try Again?
.clr
#donate
  RankNStein is a free service, but we do accept PayPal donations...
  %form{ :action => "https://www.paypal.com/cgi-bin/webscr", :method => "post" }
    %input{ :type => "hidden", :name => "cmd", :value => "_s-xclick" }
    %input{ :type => "hidden", :name => "encrypted", :value => "-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB1DxS3hnZH/jCur20eK9rcwEaq03NwjVwlS/4C5l13RBDYObBqcUvCK/Gej/gxfBur9WLonL705t6dliM7xNkHgInAFhuOpmtZ1GbxKRe8RwrNIXNlDEQeFON7aYPn0wiHp+C7HEJvkVHkXMw1XoVSZVBkJJnIAIFELX+jnAGkMTELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIJrsWXF6pw92AgaioRcPnHhb1goGb7nC04yOnQCw/cPVb/RrCYfwSbjcrqWGx1uhR58vuXmaFInJTWTg1RT0C0nU5VCiPV3vKf1qtpE0+HtHHdSexrmTRAbuAjZlUhtSV0wy4VimB/9RCw0AjuBy5M9DxH5PqaPi81FIw/B2zQyZ+YvsADKYhg6GTssK7gjcVjrgt8YT+QkJ/zr3rNRtKEV5L6kAQ2ob3Xkt6bvNZfQpbSISgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0wOTA2MDYyMTQ3MDZaMCMGCSqGSIb3DQEJBDEWBBQyPzW7CiLLgLf7gWZzCV4krUkK0TANBgkqhkiG9w0BAQEFAASBgCvx/0YQTYn0TlnFOM/rGat7qtPK2rmdebEbqHdjC5XoVqa45cxwfqdzD5NrRiaLKKi9mKhQsz/hI/ddVxpq6isPAqw/B6WojDgiL/xzoeU4R0bIkytVGvzfM9yvMioZS8WUv+dtrszbCEYmEom7lTdtOQtYLB+jcOidDRguLvFr-----END PKCS7-----" }
    %input{ :id => 'donate_button', :type => "image", :src => "https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif", :border => "0", :name => "submit", :alt => "PayPal - The safer, easier way to pay online!" }
    / %input{ :id => 'donate_button', :type => "image", :src => "/images/pp_donate.png", :border => "0", :name => "submit", :alt => "PayPal - The safer, easier way to pay online!" }
    %img{ :alt => "", :border => "0", :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :width => "1", :height => "1" }
= partial :analytics