- if rank
  %p#heading
    Your page ranks number ...
  %p#rank
    = rank
  %p#result
    RankNStein searched on
    %span.query
      = query
    and found
    %a{:href => result[:url]}
      = result[:url]
- else
  %p#heading
    You're not ranked in the top 64 ... RankNStein ANGRY!
#try_again
  %a{ :href => '/'}
    Try Again?